{% extends 'admin/ahome.html' %}
{% block content %}
<br>
<body style="background-image:url(static/images/stock.jpg); background-size:cover">

<div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8">
<u><h1 style="text-align: center;color: rgb(248, 43, 7);">STOCK DETAILS</h1></u><br>
{% if a %}
<table class="table table-bordered table-hover table-dark" style="text-align:center;">
    <tr>
        <th>CATEGORY</th>
        <th>SUBCATEGORY</th>
        <th>COMPANY</th>
        <th>QUANTITY</th>
        <th>AMOUNT</th>
    </tr>
    {% for i in a %}
    <tr>
        <td>{{i.0}}</td>
        <td>{{i.1}}</td>
        <td>{{i.2}}</td>
        <td>{{i.3}}</td>
        <td>₹{{i.4}}</td>
   </tr>
    {% endfor %}
    </table>
    {% endif %}
</div>
    <div class="col-lg-2"></div>
</div>
</body>
{% endblock %}