{% extends 'main.html' %}
{% block content %}
<br><br><br><br><br>
<div class="row">
    <div class="col-lg-5 col-md-5"></div>
    <div class="col-lg-2 col-md-2">
    <form method="post">    
        {% csrf_token %}
        USERNAME: <input type="text" name="us" class="form-control">
          <center><input type="submit" value="CLICK" class="btn btn-success"></center>
          </form>
        </div>
        <div class="col-lg-5 col-md-5">
            <div>{{msg}}</div>  
        </div>
      </div>
{% endblock %}